/* Custom styles global */
.text-start {
	margin-bottom: 20px;
}

._pe-05 {
    padding-right: 0.05rem!important;
}

.isLink {
    cursor: pointer;
}

.userActionLink:nth-child(2n) {
    margin-left: 8px;
	width: 20px;
}

.underline {
	text-decoration: underline;
}

.bgwhite {
	background-color: white;
}

.bggrey {
	background-color: #959797;
	color: white;
}
.bordergrey {
	border: #959797 solid 1px;
}

.bgdarkgrey {
	background-color: #3B3F41;
	color: white;
}

.bgorange, .btnorange {
	background-color: #DB8B3C;
	color: white;
}
.borderorange {
	border: #DB8B3C solid 1px;
}

.bgblue, .btnblue {
	background-color: #4583C4;
	color: white;
}
.borderblue {
	border: #4583C4 solid 1px;
}

.borderblack {
	border: solid 1px;
}

.begrey{
	border-right: #959797 solid 1px;
}

.bewhite{
	border-right: white solid 1px;
}
.bbwhite{
	border-bottom: white solid 1px;
}
.bbdarkgrey{
	border-bottom: #3B3F41 solid 1px;
}
.requiredField{
	color: red;
}
/* Sidebar styles */
.sidebar, .sidebar-brand {
	background-color: #36383A;
}
.sidebar-odd {
	background-color: #525557;
}
.sidebar-nav  .nav-link.active {
	background-color: #DB8B3C;
}
.sidebar-brand-full {
	max-width: 200px;
	margin-left: -15px;
}

/* Sidebar functionality */

.wrapper {
    width:100%;
    will-change:auto;
    transition:padding .15s
}

html:not([dir=rtl]) .wrapper {
	padding-left: var(--cui-sidebar-occupy-start, 0)
}

*[dir=rtl] .wrapper {
	padding-right: var(--cui-sidebar-occupy-start, 0)
}

@media(prefers-reduced-motion:reduce) {
	.wrapper {
		transition: none
	}
}

.ml-3 {
	margin-left: 5px;
}

html:not([dir=rtl]) .sidebar:not(.sidebar-end) {
    margin-left: 0;
}

@media(min-width:768px) {
	html:not([dir=rtl]) .sidebar.hide:not(.sidebar-end) {
		margin-left: calc(-1 * var(--cui-sidebar-width))
	}
	*[dir=rtl] .sidebar.hide:not(.sidebar-end) {
		margin-right: calc(-1 * var(--cui-sidebar-width))
	}
	.sidebar.hide:not(.sidebar-end)~* {
		--cui-sidebar-occupy-start: 0
	}
	html:not([dir=rtl]) .sidebar.hide.sidebar-end {
		margin-right: calc(-1 * var(--cui-sidebar-width))
	}
	*[dir=rtl] .sidebar.hide.sidebar-end {
		margin-left: calc(-1 * var(--cui-sidebar-width))
	}
	.sidebar.hide.sidebar-end~* {
		--cui-sidebar-occupy-end: 0
	}
}

/* Header styles */
.navitemRemainingLeads {
	min-width: fit-content;
	font-size: 0.8em;
	text-align: center;
}
.remainingLeadsBox {
    color: white;
	padding: 0.1rem 1rem;
}

.remainingLeadsBox .remainingLeads {
    font-size: 1.2em;
    font-weight: 600;
}

.navitemProgressbar {
	position: relative;
	min-width: 100%!important;
}
.navitemProgressbar .progress {
	position: relative;
    top: 30%;
}

.navitemBuyLeads {
	position: relative;
	min-width: 100%!important;
}
.navitemBuyLeads div {
	position: relative;
	cursor: pointer;
	color: blue;
}

.alertNoLeads {
	padding: 0.6rem 1rem !important;
	margin-bottom: 0!important;
}

.navitemWelcome {
	position: relative;
}
.navitemWelcome p {
	position: relative;
    top: 30%;
}

.navitemLogout {
	position: relative;
}
.navitemLogout img {
	position: relative;
    top: 30%;
}
.today-subheader {
	margin-bottom: 2px;
}