/* PAGE: DASHBOARD */

.dashboardValue {
	font-weight: 600;
    color: #DA5157 !important;
}

/* PAGE: PANEL */

/* Datatable filters */
.filterField {
    width: 9rem;
}

/* Show cursor pointer on hover datatable row */
.rdt_Table .rdt_TableRow:hover {
    cursor: pointer;
}

/* Panel contacts legend */
.contactsLegend li{
    list-style-type: none;
}

/* PAGE: LEAD CARD DETAILS */

.goBackFromCard {
    text-decoration: underline;
}

.leadBtnFavoriteNo, .leadBtnFavoriteNo:focus, .leadBtnFavoriteNo:hover {
    background-color: black;
    border-color: black;
    box-shadow: none;
}
.leadBtnFavoriteYes, .leadBtnFavoriteYes:focus, .leadBtnFavoriteYes:hover {
    background-color: #e744cc;
    border-color: #e744cc;
    box-shadow: none;
}
.leadHistoryTable {
    border-collapse: separate;
    border-spacing: 0 1rem;
}
.leadHistoryRow {
    background-color: #959797;
}
.leadHistorySystemRow {
    background-color: #e744cc;
}
.leadHistoryRow:hover {
    background-color: #3B3F41;
}

.leadHistoryCell {
    width: 50%;
    color: white!important;
    line-height: 1rem;
}

.leadHistoryIcon {
    float: right;
    display: inline;
}

#cardFormEmail #formEmail, #cardFormAction #formMessage {
    height: 12rem;
}


/* PAGE: LOGIN */

.loginContainer {
    height: 100%;
    max-width: none;
    position: absolute;
    background-color: #DB8B3C;
}

.registerContainer {
    max-width: none;
    position: absolute;
    background-color: #DB8B3C;
}

.loginWrapper {
    margin: auto;
    vertical-align: middle;
    color: white;
    margin-top: 6rem;
}

.loginHeader {
    font-size: 1.25em;
}

.logoWrapper img {
    width: 150px;
}

.loginForm input {
    background-color: transparent;
    border: none;
    border-bottom: white 1px solid;
    border-radius: 0;
    color: white;
}
.loginForm input:focus, .loginForm input:active {
    box-shadow: none;
    background-color: transparent;
    border: none;
    border-bottom: white 1px solid;
    border-radius: 0;
    color: white;
}

.submitLogin {
    background-color: white;
    border: none;
    color: #DB8B3C;
    width: 100%;
    border-radius: 0;
}

.submitLogin:hover, .submitLogin:active, .submitLogin:focus {
    background-color: gainsboro;
    color: #DB8B3C;
    border: none;
    box-shadow: none;
}

.registerLink {
    color: white;
}

.registerLink:hover {
    color: gainsboro;
}

/* PAGE MY ACCOUNT */
.accountContainer {
    width: 80%;
}
.accountBox {
    border: #3B3F41 solid 1px;
    border-radius: 10px;
    padding: 1rem;
}

.accountGroup p {
    margin-bottom: 0;
}

.accountGroup p.red {
    color: red;
}

.buyPlanBorder {
    border: #F9B992 solid 2px;
    border-radius: 10px;
    padding: 1rem;
}

.btnBuyPlan {
    background-color: #DB8B3C;
    border: #DB8B3C solid 1px;
}
.btnBuyPlan:hover {
    background-color: #CC8237;
    border: #CC8237 solid 1px;
}

.info-edit-company {
    font-size: 0.8rem;
    font-style: italic;
    color: red;
}

/* PAGE: STATISTICS */
.barContainer {
    width: 250px;
    height: 300px;
}

.pieContainer {
    width: 450px;
    height: 300px;
}

.progressContainer {
    width: 400px;
    height: 300px;
}

.lineChartContainer {
    width: 500px;
    height: 250px;
}

/* PAGE: SUCCESS & CANCEL (Stripe) */
.responseContainer {
    height: 100%;
    max-width: none;
    position: absolute;
}

.responseWrapper {
    margin: 10rem auto;
    vertical-align: middle;
}

.responseHeader {
    font-size: 1.25em;
}

#leadCardImage {
    width: 100%
}
.leadCardInfo {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Media queries */

@media (min-width: 1366px) {
    .loginWrapper {
        width: 25%;
        margin-top: 3rem;
    }
}

@media (max-width: 1366px) {
    .loginWrapper {
        width: 45%;
        margin-top: 3rem;
    }
    .accountContainer {
        width: 85%;
    }
}

@media (max-width: 962px) {
    .loginWrapper {
        width: 60%;
    }
    .accountContainer {
        width: 95%;
    }
}